.crypto,.bg-theme{
    background-color: rgb(1, 17, 16) !important;
}

.darker-theme{
    background-color: rgb(0, 10, 10) !important;
}

.text-color2{
    color: #03E5B7;
}

.stars{
    color: #03E5B7;
}

.connect-wallet{
    background-color: hsla(159, 97%, 29%, 0.3) !important;
}

.reviews-section{
    overflow: hidden;
}

.review-container{
    border: 1px solid hsla(159, 80%, 56%, 0.126);

}
.border-alt{
    border: 2px solid hsla(159, 98%, 16%, 0.126) !important;

}
.trade{
    border: 1px solid hsla(159, 80%, 56%, 0.196) !important;
    background-color: hsla(64, 100%, 51%, 0.113) !important;

}

.crypto{
    overflow-x: hidden;
}

.text-color{
    color: antiquewhite !important;
}

.social-media a{
    text-decoration: none;
    color: antiquewhite;
    border: 2px dotted antiquewhite;
    border-style: dotted;
}

.social-member{
    position: absolute;
    bottom: 40px;
}

.img:hover{
    cursor: pointer;
}

.social-member{
    display: none;
}

.img-card:hover > .social-member{
    /* cursor: pointer; */
    display: block !important;
}

.grad-text{
    background: linear-gradient(to right, #7fcec5 , #145 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(0.4px);
}
.grad-button{
    background: linear-gradient(45deg, #4ceb87, #67ffed ,#67ffed );
    
    filter: blur(0.2px);
}

.grad-border{
    border: 1px solid transparent;
    border-radius: 3px !important;
    border-image: linear-gradient(to right, #4ceb87, #67ffed ,#67ffed ) 1;
}

.grad-text2{
    background: linear-gradient(to right, #7fcec5 , #145 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-text3{
    background: linear-gradient(to right,  #4ceb87, #67ffed ,#67ffed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-markets{
    background: linear-gradient(to right, #7fcec5 , #145 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline !important;
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #03E5B7 0%, #037ADE 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.boxs::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 480px;
    right: 400px;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    z-index: 500;
    opacity: 0.02;
    
    
    background: linear-gradient(-45deg, #03E5B7 0%, #037ADE 100% );
    /* transform: translate3d(0px, 20px, 0) scale(0.95); */
    filter: blur(36px);
    
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
    
.hero-section{
    overflow: hidden;
}

.circle{
    border: 10px dotted #4ceb87;
    height: 150px;
    width: 150px;
    justify-content: center;
    border-radius: 75px;
    display: flex;
    align-items: center;
    
}

.circle h1{
    font-size: 100px;
}

@media screen and (max-width:400px) {
    .boxs::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0px;
        right: 0px;
        height: 250px;
        width: 250px;
        border-radius: 125px;
        z-index: 500;
        opacity: 0.09;
        
        
        background: linear-gradient(-45deg, #03E5B7 0%, #037ADE 100% );
        /* transform: translate3d(0px, 20px, 0) scale(0.95); */
        filter: blur(36px);
        
    }
    .table-show{
        overflow-y: scroll;
    }
}

/* nav */
.nav-link{
    position: relative;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* .nav-link:hover:before{
    content: "";
    position: absolute;
    
    bottom: 0;
    background-color: rgb(0, 81, 255);
    height: 4px;
    width: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transition-delay: 2s;
} */
.nav-link:hover:before{
    transform: scale(1);
    /* transition-delay: 2s; */
    opacity: 1;
}

/* .nav-link::before{
    display: block;
    transition-duration: 2s;
    transform: scale(1);
    transition-delay: 2s;
} */
.nav-link::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    background-color: rgb(2, 102, 72);
    height: 5px;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out 0.20s;
}