.Homepage{
    position: relative;
}

#carouselExampleAutoplaying .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

#carouselExampleAutoplaying .carousel-item::before{
    content: '';
    background-image: 
    linear-gradient(
        to bottom,
        transparent, rgba(0,0,0,0.8)
    );
    display: block;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
}

.navbar-brand img{
    height: 40px;
    width: 40px;
}

/* modal */

.modal {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #f0000055;
    z-index: 10;
}

.modals{
    background-color: #00000055;
          width: 100%;
          height: 100vh;
          position: fixed;
          z-index: 10;
          top: 65px;
}

.cart-bar{
    position: absolute;
    right:0;
    height: 100%;
    background-color: black;
    width: 30%;
    color: white;
}

.remove{
    position: absolute;
    right: 22px;
}

.badge{
    position: absolute;
    font-size: 7px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
}

/* .cart-item-container{
    overflow-y: scroll;
} */

.price{
    width: 200px;
    height: 30px;
}
.add{
    width: 25px;
}

/* .product{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
} */

/* card */

.products{
    border: none;
}

.prices .add-icon:hover{
    color: orange;
}

.card-item img{
    height: 100px;
    width: 100px;
}

.card{
    overflow: hidden;
}

.card-item{
    transition: 0.5s;
}
.card-item:hover{
    transform: scale(1.08);
}
.card-image{
    position: relative;
}

.card-image i{
    position: absolute;
    right: 0px;
    top: 6px;
    visibility: hidden;
    cursor: pointer;
}

.card:hover .show, .card-image i:hover{
    visibility: visible;
    cursor: pointer;
}

/* footer */

.email input:focus{
    background-color: red;
    border-top: none;
    outline: none;
}

.email input::placeholder {
    color: white !important;
    opacity: 1;
    }

.icon{
    height: 38px;
    width: 40px;
    border-radius: 50px;
}

@media screen and (max-width:400px) {
    .cart-bar{
        position: absolute;
        right:0;
        height: 100%;
        background-color: black;
        width: 90%;
        color: white;
    }
    /* .Link{
        margin: 0;

    } */
}