*:focus {
    outline: none;
}

.box_shadow1 {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box_shadow2 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box_shadow3 {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.likes:hover {
    background-color: rgb(255, 226, 177) !important;
}

/* .jobs {
    background-color: black;
} */