




/* .mx-3 i {
    background-color: red;
} */

.nav-link{
    position: relative;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* .nav-link:hover:before{
    content: "";
    position: absolute;
    
    bottom: 0;
    background-color: rgb(0, 81, 255);
    height: 4px;
    width: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transition-delay: 2s;
} */
.nav-link:hover:before{
    transform: scale(1);
    /* transition-delay: 2s; */
    opacity: 1;
}

/* .nav-link::before{
    display: block;
    transition-duration: 2s;
    transform: scale(1);
    transition-delay: 2s;
} */
.nav-link::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    background-color: rgb(0, 81, 255);
    height: 5px;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out 0.20s;
}