.list-unstyled li {
    margin-bottom: 10px;
}

.text2 {
    color: rgb(11, 119, 162);
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}
.unstyled-link:hover {
    color: rgb(73, 157, 181);
}
.bg1 {
    background-color: rgb(1, 63, 80) !important;
}

.shadow {
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
.shadow1 {
    box-shadow: 0 8px 8px -4px lightblue;
}

.prod-img {
    height: 100px;
    width: 100px;
}

.homepage-section {
    background-image: url("../img/office2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.homepage-section::before{
    content: '';
    background-color: 
     rgba(0,0,0,0.6);
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* .homepage-section::before{
    content: '';
    background-image: 
    linear-gradient(
        to bottom,
        transparent, rgba(0,0,0,0.99)
    );
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

.hero h1 {
    z-index: 3000 !important;
    overflow: hidden !important;
}